<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="ejs.js"></script>
</head>

<body>
    <% usernames.forEach(username => { %>
        <%- include(`${process.cwd()}/src/views/templates/userForm.ejs`, { username: username }); %>
    <% }); %>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        var form = document.getElementById('form');
        var input = document.getElementById('input');

        form.addEventListener('submit', function(e) {
            e.preventDefault();
            socket.emit('newImage', e.currentTarget[0].name)
        })
    </script>
</body>

</html>