<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <script src="ejs.js"></script>
</head>
<body>
    <% if (isSuccess) { %>
        <%- include(`${process.cwd()}/views/templates/uploadSuccess.ejs`); %>
    <% } else { %>
        <%- include(`${process.cwd()}/views/templates/uploadFailure.ejs`); %>
    <% } %>
</body>
</html>
