<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <script src="ejs.js"></script>
</head>
<body>
    <% if (isSuccess) { %>
        <h1>Upload Successful</h1>
        <a href="/">Homepage</a>
        <a href="/feed">Feed</a>
    <% } else { %>
        <h1>Upload Unsuccessful</h1>
        <a href="/">Please Try Again</a>
    <% } %>
</body>
</html>
